workflow-analyzer/tests/fixtures/workflows/branching.json
{
  "name": "Branching Workflow",
  "nodes": [
    {
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Get Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/users",
        "options": {}
      }
    },
    {
      "id": "b1b2c3d4-0003-4000-8000-000000000003",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b1b2c3d4-0004-4000-8000-000000000004",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [900, 200],
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "noreply@example.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome!",
        "body": "={{ `Welcome ${$json.name}!` }}"
      },
      "credentials": {
        "aws": {
          "id": "cred-aws-1",
          "name": "AWS SES"
        }
      }
    },
    {
      "id": "b1b2c3d4-0005-4000-8000-000000000005",
      "name": "Log Inactive",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "logMessage",
              "value": "={{ `User ${$json.name} is inactive` }}",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "id": "wf-002"
}
